header {
  background-color: black;
  height: 81px;
  display: flex;
  align-items: center;

  .nav {
    display: flex;
    list-style: none;
    gap: 38px;

    .link {
      display: flex;
      align-items: center;
      gap: 12px;
      color: white;
      text-decoration: none;

      .heart {
        stroke: #fff;
      }
    }
  }
}

@media (max-width: 769px) {
  .navText {
    display: none;
  }
}
